body {
  /* display: grid; */
  /* place-items: center; */
  background-color: #b4a7d6;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('src/img/abstract-bg.jpg');
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: sticky;
}

h1 {
  color: #8873be;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  height: 75px;
  align-items: center;
  padding: 10px;
  padding-right: 25px;
  justify-content: space-between;
  overflow: auto;
}

#homepage {
  text-align: center;
}

/* #generatedShortStory {
  text-align: center;
} */

#generatedImage {
  margin: auto;
}
